<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.247911237714-o0qerc7505n1jhaqajsfoulimncemo2b</string>
				<string>fb398063742569942</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>398063742569942</string>
	<key>FacebookClientToken</key>
	<string>c8df3b20f8e2cde53c9f8ea33bfddc9f</string>
	<key>FacebookDisplayName</key>
	<string>Sylas Ai</string>
	<key>GooglePlacesAPIKey</key>
	<string>${GOOGLE_PLACES_API_KEY}</string>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>OPEN_TRIP_MAP_API_KEY</key>
	<string>${OPEN_TRIP_MAP_API_KEY}</string>
</dict>
</plist>
